# 依赖
node_modules
.pnpm-store

# 构建产物
dist
dist-ssr
*.local

# 编辑器与系统文件
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp
Thumbs.db

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 临时与缓存
.cache
.temp
.playwright-mcp
.playwright-screens
